<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
  
    <form action="/users/login" method="post" id="loginForm">

      <div>
        <ul>
          <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
          <li><%= error.message %></li>
          <% }) %> <% } %>
        </ul>

        <img
        <label>User Type</label>
        <select name="role" id="roleSelect" required onchange="toggleFields()">
          <option value="student">Student</option>
          <option value="admin">Admin</option>
        </select>
        <div id="studentFields">
          <label>Roll Number</label>
          <input type="text" name="roll_number" required />
        </div>
        <div id="adminFields" style="display: none;">
          <label>Email</label>
          <input type="email" name="email" required />
        </div>
        <label>Password</label>
        <input type="password" name="password" required  />
        <button type="submit">Login</button>
        <div>  
          <a href="/signup">Not a user?</a>
          <a href="/forgetPassword">Forget Password</a>
        </div>
      </div>
    </form>

    <script>
        function toggleFields() {
            var roleSelect = document.getElementById("roleSelect");
            var studentFields = document.getElementById("studentFields");
            var adminFields = document.getElementById("adminFields");

            if (roleSelect.value === "student") {
                studentFields.style.display = "block";
                adminFields.style.display = "none";
            } else if (roleSelect.value === "admin") {
                studentFields.style.display = "none";
                adminFields.style.display = "block";
            }
        }
    </script>
</body>
</html>
