<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN PAGE</h1>
    
    <form action="/users/login" method="post">
      <div >

        <ul>
          <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
          <li><%= error.message %></li>
          <% }) %> <% } %>
        </ul>

        <label>User Type</label>
        <select name="role" required>
          <option value="student">Student</option>
          <option value="admin">Admin</option>
        </select>
        <label>Roll Number</label>
        <input type="Roll Number" name="roll_number" required />
        <label>Password</label>
        <input type="password" name="password" />
  
        <button type="submit">Login</button>
      </div>
      
      <a href="/signup">Not an user?</a>
      </form>
</body>
</html>