<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Login</title>
    <style>
      
    </style>
</head>
<body>
    <h1>LOGIN PAGE</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>
    <form action="/users/login" method="post">
      <div>
        <label>Name</label>
        <input type="text" required name="name" />
        <label>Password</label>
        <input type="text" required name="password" />
  
        <button type="submit">Login</button>
      </div>
      
      <a href="./signup">Not an user?</a>
      </form>
</body>
</html>