<!-- InitialPage.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Search</title>
    <link rel="stylesheet" href="/your-path-to-css-file.css">
</head>
<body>

  <div class="dashboard-container">
    <div class="top-bar">
      <h1>STUDENT CERTIFICATE DETAILS</h1>
    </div>

    <form class="search-container" action="/admin_Dashboard/viewStudentDetails" method="post">
      <label for="roll-number-search">Search by Roll Number:</label>
      <input type="text" name="roll_number" id="roll-number-search" placeholder="Enter Roll Number">
      <button type="submit">Search</button>
    </form>

  </div>

</body>
</html>
