/* style.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #cb2828;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #f44336;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

a {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bold;
  display: inline-block;
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}
