/* Add your custom styles here */
/* This is just a placeholder */
body {
  font-family: 'Arial', sans-serif;
  background-color: #DFF5FF;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  position: relative;
  max-width: 800px; /* Increased max-width for better visibility */
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased shadow for depth */
  padding: 30px; /* Increased padding for better spacing */
  border-radius: 15px; /* Rounded corners */
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #378CE7;
  color: #fff;
  padding: 15px 20px; /* Adjusted padding */
  border-top-left-radius: 15px; /* Rounded corners */
  border-top-right-radius: 15px; /* Rounded corners */
  margin: 0 -30px 20px -30px; /* Adjusted margin */
}

h1 span {
  font-size: 22px; /* Increased font size for title */
}

button {
  background-color: #5356FF;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 16px; /* Increased font size */
  border: none;
  border-radius: 8px; /* Rounded corners */
  padding: 12px 20px; /* Increased padding for better click area */
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #3148AE; /* Darker shade on hover */
  color: #fff; /* Text color change on hover */
}

.upload-form {
  margin-top: 30px; /* Adjusted margin */
}

.upload-form input[type="file"] {
  display: block;
  margin-bottom: 20px; /* Increased margin for better spacing */
}

.upload-form button {
  background-color: #3498db;
}

.upload-form button:hover {
  background-color: #2980b9;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Increased shadow for depth */
  overflow-y: auto;
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

#pdfViewer canvas {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  cursor: crosshair;
}
